<?php
return [
    'mqtt' => [
        'name' => 'PHP-client',
        'host' => 'localhost',
        'username' => '',
        'password' => '',
        'port' => 1883,
        'topics' => [
            '#' => 0
        ]
    ]
];